<?xml version='1.0' encoding='utf-8'?>
<robot name="dg5f_left"><link name="ll_dg_palm">
    <inertial>
      <origin xyz="-0.0089544 -0.00095674 0.041327" rpy="0.0 0.0 0.0" />
      <inertia ixx="0.00052648" ixy="-2.618E-06" ixz="-2.2256E-05" iyy="0.00041644" iyz="4.8923E-05" izz="0.00045776" />
      <mass value="0.35" />
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="../../unified_commercial_hands/tesollo/visual_stl/ll_dg_palm.stl" />
      </geometry>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="../../unified_commercial_hands/tesollo/vendor_left/meshes/ll_dg_palm_c.STL" />
      </geometry>
    </collision>
  </link>
  <link name="ll_dg_1_1">
    <inertial><origin xyz="0.0185366 1.77562e-08 0.00295418" rpy="0 0 0" /><mass value="0.0452925" /><inertia ixx="3.78117e-06" ixy="2.05087e-11" ixz="1.83495e-06" iyy="1.39186e-05" iyz="2.22823e-12" izz="1.26416e-05" /></inertial><visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="../../unified_commercial_hands/tesollo/visual_stl/ll_dg_1_1.stl" />
      </geometry>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="../../unified_commercial_hands/tesollo/vendor_left/meshes/ll_dg_1_1_c.STL" />
      </geometry>
    </collision>
  </link>
  <link name="ll_dg_1_2">
    <inertial><origin xyz="-0.000296745 -0.0155003 0.000296944" rpy="0 0 0" /><mass value="0.0242487" /><inertia ixx="3.31098e-06" ixy="-1.12058e-07" ixz="-2.1456e-09" iyy="1.55747e-06" iyz="-1.12072e-07" izz="3.31092e-06" /></inertial><visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="../../unified_commercial_hands/tesollo/visual_stl/ll_dg_1_2.stl" />
      </geometry>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="../../unified_commercial_hands/tesollo/vendor_left/meshes/ll_dg_1_2_c.STL" />
      </geometry>
    </collision>
  </link>
  <link name="ll_dg_1_3">
    <inertial><origin xyz="-8.94908e-05 -0.0173907 3.38031e-06" rpy="0 0 0" /><mass value="0.0321576" /><inertia ixx="6.63051e-06" ixy="-2.12225e-07" ixz="5.26153e-10" iyy="2.03157e-06" iyz="1.52971e-09" izz="7.0107e-06" /></inertial><visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="../../unified_commercial_hands/tesollo/visual_stl/ll_dg_1_3.stl" />
      </geometry>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="../../unified_commercial_hands/tesollo/vendor_left/meshes/ll_dg_1_3_c.STL" />
      </geometry>
    </collision>
  </link>
  <link name="ll_dg_1_4">
    <inertial><origin xyz="0.000107317 -0.0192503 -0.0001526" rpy="0 0 0" /><mass value="0.0349385" /><inertia ixx="8.21276e-06" ixy="-7.2344e-08" ixz="-5.73379e-10" iyy="2.20581e-06" iyz="-1.29507e-07" izz="8.55259e-06" /></inertial><visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="../../unified_commercial_hands/tesollo/visual_stl/ll_dg_1_4.stl" />
      </geometry>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="../../unified_commercial_hands/tesollo/vendor_left/meshes/ll_dg_1_4_c.STL" />
      </geometry>
    </collision>
  </link>
  <link name="ll_dg_1_tip">
    <inertial><origin xyz="-1.81764e-07 -0.00715632 0.00380402" rpy="0 0 0" /><mass value="0.00522683" /><inertia ixx="1.49131e-07" ixy="1.97941e-12" ixz="-4.99816e-12" iyy="1.92406e-07" iyz="-1.0041e-08" izz="2.43035e-07" /></inertial><visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="../../unified_commercial_hands/tesollo/visual_stl/ll_dg_1_tip.stl" />
      </geometry>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="../../unified_commercial_hands/tesollo/vendor_left/meshes/ll_dg_1_tip_c.STL" />
      </geometry>
    </collision>
  </link>
  <link name="ll_dg_3_1">
    <inertial><origin xyz="0.00227711 -8.66341e-05 0.0205206" rpy="0 0 0" /><mass value="0.0493077" /><inertia ixx="7.57796e-06" ixy="6.47043e-08" ixz="-7.59507e-07" iyy="1.12746e-05" iyz="2.03871e-08" izz="6.95441e-06" /></inertial><visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="../../unified_commercial_hands/tesollo/visual_stl/ll_dg_3_1.stl" />
      </geometry>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="../../unified_commercial_hands/tesollo/vendor_left/meshes/ll_dg_3_1_c.STL" />
      </geometry>
    </collision>
  </link>
  <link name="ll_dg_3_2">
    <inertial><origin xyz="-3.38031e-06 8.94908e-05 0.0214093" rpy="0 0 0" /><mass value="0.0321576" /><inertia ixx="7.0107e-06" ixy="5.26153e-10" ixz="-1.52971e-09" iyy="6.63051e-06" iyz="2.12225e-07" izz="2.03157e-06" /></inertial><visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="../../unified_commercial_hands/tesollo/visual_stl/ll_dg_3_2.stl" />
      </geometry>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="../../unified_commercial_hands/tesollo/vendor_left/meshes/ll_dg_3_2_c.STL" />
      </geometry>
    </collision>
  </link>
  <link name="ll_dg_3_3">
    <inertial><origin xyz="-3.38031e-06 8.94908e-05 0.0214093" rpy="0 0 0" /><mass value="0.0321576" /><inertia ixx="7.0107e-06" ixy="5.26153e-10" ixz="-1.52971e-09" iyy="6.63051e-06" iyz="2.12225e-07" izz="2.03157e-06" /></inertial><visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="../../unified_commercial_hands/tesollo/visual_stl/ll_dg_3_3.stl" />
      </geometry>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="../../unified_commercial_hands/tesollo/vendor_left/meshes/ll_dg_3_3_c.STL" />
      </geometry>
    </collision>
  </link>
  <link name="ll_dg_3_4">
    <inertial><origin xyz="-0.000230195 0.000273333 0.0158553" rpy="0 0 0" /><mass value="0.0238249" /><inertia ixx="3.56062e-06" ixy="-9.99904e-10" ixz="8.93733e-08" iyy="3.1927e-06" iyz="1.0912e-07" izz="1.44311e-06" /></inertial><visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="../../unified_commercial_hands/tesollo/visual_stl/ll_dg_3_4.stl" />
      </geometry>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="../../unified_commercial_hands/tesollo/vendor_left/meshes/ll_dg_3_4_c.STL" />
      </geometry>
    </collision>
  </link>
  <link name="ll_dg_3_tip">
    <inertial><origin xyz="0.00380401 1.82474e-07 0.00715632" rpy="0 0 0" /><mass value="0.00522683" /><inertia ixx="2.43035e-07" ixy="4.97933e-12" ixz="1.00411e-08" iyy="1.49131e-07" iyz="1.96305e-12" izz="1.92406e-07" /></inertial><visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="../../unified_commercial_hands/tesollo/visual_stl/ll_dg_3_tip.stl" />
      </geometry>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="../../unified_commercial_hands/tesollo/vendor_left/meshes/ll_dg_3_tip_c.STL" />
      </geometry>
    </collision>
  </link>
  <link name="ll_dg_4_1">
    <inertial><origin xyz="0.00211091 0.000306349 0.0206886" rpy="0 0 0" /><mass value="0.0510228" /><inertia ixx="7.98244e-06" ixy="1.74293e-07" ixz="-7.40945e-07" iyy="1.15805e-05" iyz="-6.99204e-08" izz="7.29865e-06" /></inertial><visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="../../unified_commercial_hands/tesollo/visual_stl/ll_dg_4_1.stl" />
      </geometry>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="../../unified_commercial_hands/tesollo/vendor_left/meshes/ll_dg_4_1_c.STL" />
      </geometry>
    </collision>
  </link>
  <link name="ll_dg_4_2">
    <inertial><origin xyz="-3.38031e-06 8.94908e-05 0.0214093" rpy="0 0 0" /><mass value="0.0321576" /><inertia ixx="7.0107e-06" ixy="5.26153e-10" ixz="-1.52971e-09" iyy="6.63051e-06" iyz="2.12225e-07" izz="2.03157e-06" /></inertial><visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="../../unified_commercial_hands/tesollo/visual_stl/ll_dg_4_2.stl" />
      </geometry>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="../../unified_commercial_hands/tesollo/vendor_left/meshes/ll_dg_4_2_c.STL" />
      </geometry>
    </collision>
  </link>
  <link name="ll_dg_4_3">
    <inertial><origin xyz="-3.38031e-06 8.94908e-05 0.0214093" rpy="0 0 0" /><mass value="0.0321576" /><inertia ixx="7.0107e-06" ixy="5.26153e-10" ixz="-1.52971e-09" iyy="6.63051e-06" iyz="2.12225e-07" izz="2.03157e-06" /></inertial><visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="../../unified_commercial_hands/tesollo/visual_stl/ll_dg_4_3.stl" />
      </geometry>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="../../unified_commercial_hands/tesollo/vendor_left/meshes/ll_dg_4_3_c.STL" />
      </geometry>
    </collision>
  </link>
  <link name="ll_dg_4_4">
    <inertial><origin xyz="-0.000230195 0.000273333 0.0158553" rpy="0 0 0" /><mass value="0.0238249" /><inertia ixx="3.56062e-06" ixy="-9.99904e-10" ixz="8.93733e-08" iyy="3.1927e-06" iyz="1.0912e-07" izz="1.44311e-06" /></inertial><visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="../../unified_commercial_hands/tesollo/visual_stl/ll_dg_4_4.stl" />
      </geometry>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="../../unified_commercial_hands/tesollo/vendor_left/meshes/ll_dg_4_4_c.STL" />
      </geometry>
    </collision>
  </link>
  <link name="ll_dg_4_tip">
    <inertial><origin xyz="0.00380401 1.82474e-07 0.00715632" rpy="0 0 0" /><mass value="0.00522683" /><inertia ixx="2.43035e-07" ixy="4.97933e-12" ixz="1.00411e-08" iyy="1.49131e-07" iyz="1.96305e-12" izz="1.92406e-07" /></inertial><visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="../../unified_commercial_hands/tesollo/visual_stl/ll_dg_4_tip.stl" />
      </geometry>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="../../unified_commercial_hands/tesollo/vendor_left/meshes/ll_dg_4_tip_c.STL" />
      </geometry>
    </collision>
  </link>
  <link name="ll_dg_5_1">
    <inertial><origin xyz="-0.00436224 0.0211186 0.0146199" rpy="0 0 0" /><mass value="0.0908204" /><inertia ixx="2.87101e-05" ixy="5.68301e-07" ixz="2.23458e-07" iyy="2.60574e-05" iyz="-4.69126e-06" izz="1.60695e-05" /></inertial><visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="../../unified_commercial_hands/tesollo/visual_stl/ll_dg_5_1.stl" />
      </geometry>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="../../unified_commercial_hands/tesollo/vendor_left/meshes/ll_dg_5_1_c.STL" />
      </geometry>
    </collision>
  </link>
  <link name="ll_dg_5_2">
    <inertial><origin xyz="0.000296944 0.000296745 0.0155003" rpy="0 0 0" /><mass value="0.0242487" /><inertia ixx="3.31092e-06" ixy="2.1456e-09" ixz="1.12072e-07" iyy="3.31098e-06" iyz="-1.12058e-07" izz="1.55747e-06" /></inertial><visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="../../unified_commercial_hands/tesollo/visual_stl/ll_dg_5_2.stl" />
      </geometry>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="../../unified_commercial_hands/tesollo/vendor_left/meshes/ll_dg_5_2_c.STL" />
      </geometry>
    </collision>
  </link>
  <link name="ll_dg_5_3">
    <inertial><origin xyz="3.38031e-06 8.94908e-05 0.0173907" rpy="0 0 0" /><mass value="0.0321576" /><inertia ixx="7.0107e-06" ixy="-5.26153e-10" ixz="-1.52971e-09" iyy="6.63051e-06" iyz="-2.12225e-07" izz="2.03157e-06" /></inertial><visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="../../unified_commercial_hands/tesollo/visual_stl/ll_dg_5_3.stl" />
      </geometry>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="../../unified_commercial_hands/tesollo/vendor_left/meshes/ll_dg_5_3_c.STL" />
      </geometry>
    </collision>
  </link>
  <link name="ll_dg_5_4">
    <inertial><origin xyz="-0.0001526 -0.000107317 0.0192503" rpy="0 0 0" /><mass value="0.0349385" /><inertia ixx="8.55259e-06" ixy="5.73379e-10" ixz="1.29507e-07" iyy="8.21276e-06" iyz="-7.2344e-08" izz="2.20581e-06" /></inertial><visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="../../unified_commercial_hands/tesollo/visual_stl/ll_dg_5_4.stl" />
      </geometry>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="../../unified_commercial_hands/tesollo/vendor_left/meshes/ll_dg_5_4_c.STL" />
      </geometry>
    </collision>
  </link>
  <link name="ll_dg_5_tip">
    <inertial><origin xyz="0.00380401 1.82474e-07 0.00715632" rpy="0 0 0" /><mass value="0.00522683" /><inertia ixx="2.43035e-07" ixy="4.97933e-12" ixz="1.00411e-08" iyy="1.49131e-07" iyz="1.96305e-12" izz="1.92406e-07" /></inertial><visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="../../unified_commercial_hands/tesollo/visual_stl/ll_dg_5_tip.stl" />
      </geometry>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="../../unified_commercial_hands/tesollo/vendor_left/meshes/ll_dg_5_tip_c.STL" />
      </geometry>
    </collision>
  </link>
  <joint name="lj_dg_1_1" type="revolute">
    <origin xyz="-0.0162 -0.019 0.0128" rpy="0.0 0.0 0.0" />
    <parent link="ll_dg_palm" />
    <child link="ll_dg_1_1" />
    <axis xyz="-1 -0 -0" />
    <limit lower="-0.383972435" upper="0.890117919" effort="0.5" velocity="10.0" />
  <dynamics damping="0.0775033" friction="0" /></joint>

  <joint name="lj_dg_1_2" type="revolute">
    <origin xyz="0.04195 0.0 0.0" rpy="0.0 0.0 0.0" />
    <parent link="ll_dg_1_1" />
    <child link="ll_dg_1_2" />
    <axis xyz="0 0 1" />
    <limit lower="-0" upper="3.14159265" effort="0.5" velocity="10.0" />
  <dynamics damping="0.0775033" friction="0" /></joint>

  <joint name="lj_dg_1_3" type="revolute">
    <origin xyz="0.0 -0.031 0.0" rpy="0.0 0.0 0.0" />
    <parent link="ll_dg_1_2" />
    <child link="ll_dg_1_3" />
    <axis xyz="-1 -0 -0" />
    <limit lower="-1.57079633" upper="1.57079633" effort="0.5" velocity="10.0" />
  <dynamics damping="0.0775033" friction="0" /></joint>

  <joint name="lj_dg_1_4" type="revolute">
    <origin xyz="0.0 -0.0388 0.0" rpy="0.0 0.0 0.0" />
    <parent link="ll_dg_1_3" />
    <child link="ll_dg_1_4" />
    <axis xyz="-1 -0 -0" />
    <limit lower="-1.57079633" upper="1.57079633" effort="0.5" velocity="10.0" />
  <dynamics damping="0.0775033" friction="0" /></joint>

  <joint name="lj_dg_1_tip" type="fixed">
    <origin xyz="0.0 -0.0363 0.0" rpy="0.0 0.0 0.0" />
    <parent link="ll_dg_1_4" />
    <child link="ll_dg_1_tip" />
  </joint>

  <joint name="lj_dg_3_1" type="revolute">
    <origin xyz="-0.0071 -0.0025 0.0701" rpy="0.0 0.0 0.0" />
    <parent link="ll_dg_palm" />
    <child link="ll_dg_3_1" />
    <axis xyz="-1 -0 -0" />
    <limit lower="-0.610865238" upper="0.610865238" effort="0.5" velocity="10.0" />
  <dynamics damping="0.0775033" friction="0" /></joint>

  <joint name="lj_dg_3_2" type="revolute">
    <origin xyz="0.01765 0.0 0.0265" rpy="0.0 0.0 0.0" />
    <parent link="ll_dg_3_1" />
    <child link="ll_dg_3_2" />
    <axis xyz="0 1 0" />
    <limit lower="0" upper="1.95476876" effort="0.5" velocity="10.0" />
  <dynamics damping="0.0775033" friction="0" /></joint>

  <joint name="lj_dg_3_3" type="revolute">
    <origin xyz="0.0 0.0 0.0388" rpy="0.0 0.0 0.0" />
    <parent link="ll_dg_3_2" />
    <child link="ll_dg_3_3" />
    <axis xyz="0 1 0" />
    <limit lower="-1.57079633" upper="1.57079633" effort="0.5" velocity="10.0" />
  <dynamics damping="0.0775033" friction="0" /></joint>

  <joint name="lj_dg_3_4" type="revolute">
    <origin xyz="0.0 0.0 0.0388" rpy="0.0 0.0 0.0" />
    <parent link="ll_dg_3_3" />
    <child link="ll_dg_3_4" />
    <axis xyz="0 1 0" />
    <limit lower="-1.57079633" upper="1.57079633" effort="0.5" velocity="10.0" />
  <dynamics damping="0.0775033" friction="0" /></joint>

  <joint name="lj_dg_3_tip" type="fixed">
    <origin xyz="0.0 0.0 0.0255" rpy="0.0 0.0 0.0" />
    <parent link="ll_dg_3_4" />
    <child link="ll_dg_3_tip" />
  </joint>

  <joint name="lj_dg_4_1" type="revolute">
    <origin xyz="-0.0071 0.022 0.0621" rpy="0.0 0.0 0.0" />
    <parent link="ll_dg_palm" />
    <child link="ll_dg_4_1" />
    <axis xyz="-1 -0 -0" />
    <limit lower="-0.610865238" upper="0.41887902" effort="0.5" velocity="10.0" />
  <dynamics damping="0.0775033" friction="0" /></joint>

  <joint name="lj_dg_4_2" type="revolute">
    <origin xyz="0.01765 0.0 0.0265" rpy="0.0 0.0 0.0" />
    <parent link="ll_dg_4_1" />
    <child link="ll_dg_4_2" />
    <axis xyz="0 1 0" />
    <limit lower="0" upper="1.90240888" effort="0.5" velocity="10.0" />
  <dynamics damping="0.0775033" friction="0" /></joint>

  <joint name="lj_dg_4_3" type="revolute">
    <origin xyz="0.0 0.0 0.0388" rpy="0.0 0.0 0.0" />
    <parent link="ll_dg_4_2" />
    <child link="ll_dg_4_3" />
    <axis xyz="0 1 0" />
    <limit lower="-1.57079633" upper="1.57079633" effort="0.5" velocity="10.0" />
  <dynamics damping="0.0775033" friction="0" /></joint>

  <joint name="lj_dg_4_4" type="revolute">
    <origin xyz="0.0 0.0 0.0388" rpy="0.0 0.0 0.0" />
    <parent link="ll_dg_4_3" />
    <child link="ll_dg_4_4" />
    <axis xyz="0 1 0" />
    <limit lower="-1.57079633" upper="1.57079633" effort="0.5" velocity="10.0" />
  <dynamics damping="0.0775033" friction="0" /></joint>

  <joint name="lj_dg_4_tip" type="fixed">
    <origin xyz="0.0 0.0 0.0255" rpy="0.0 0.0 0.0" />
    <parent link="ll_dg_4_4" />
    <child link="ll_dg_4_tip" />
  </joint>

  <joint name="lj_dg_5_1" type="revolute">
    <origin xyz="0.0103 0.0195 0.0182" rpy="0.0 0.0 0.0" />
    <parent link="ll_dg_palm" />
    <child link="ll_dg_5_1" />
    <axis xyz="-0 -0 -1" />
    <limit lower="-0.0174532925" upper="1.04719755" effort="0.5" velocity="10.0" />
  <dynamics damping="0.0775033" friction="0" /></joint>

  <joint name="lj_dg_5_2" type="revolute">
    <origin xyz="0.0 0.028 0.0381" rpy="0.0 0.0 0.0" />
    <parent link="ll_dg_5_1" />
    <child link="ll_dg_5_2" />
    <axis xyz="-1 -0 -0" />
    <limit lower="-0.41887902" upper="0.610865238" effort="0.5" velocity="10.0" />
  <dynamics damping="0.0775033" friction="0" /></joint>

  <joint name="lj_dg_5_3" type="revolute">
    <origin xyz="0.0 0.0 0.031" rpy="0.0 0.0 0.0" />
    <parent link="ll_dg_5_2" />
    <child link="ll_dg_5_3" />
    <axis xyz="0 1 0" />
    <limit lower="-1.57079633" upper="1.57079633" effort="0.5" velocity="10.0" />
  <dynamics damping="0.0775033" friction="0" /></joint>

  <joint name="lj_dg_5_4" type="revolute">
    <origin xyz="0.0 0.0 0.0388" rpy="0.0 0.0 0.0" />
    <parent link="ll_dg_5_3" />
    <child link="ll_dg_5_4" />
    <axis xyz="0 1 0" />
    <limit lower="-1.57079633" upper="1.57079633" effort="0.5" velocity="10.0" />
  <dynamics damping="0.0775033" friction="0" /></joint>

  <joint name="lj_dg_5_tip" type="fixed">
    <origin xyz="0.0 0.0 0.0363" rpy="0.0 0.0 0.0" />
    <parent link="ll_dg_5_4" />
    <child link="ll_dg_5_tip" />
  </joint>
</robot>